@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url(./common.css);

body {
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
  background: black;
}

/* header style -----------------------------------------------------------------*/
header {
  /* background: orange; */
  padding: 0 0 20px 0;
  /* position: fixed; */
  width: 100%;
  top: 0;
  /* z-index: 9999; */
}

header .inner-header {
  background: black;
  width: 95%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* header > inner-header > logo */

header .inner-header .logo {
  margin: 0 auto;
  /* border: 2px solid aqua; */
  flex: 1;
  
}

header .inner-header .logo img {
  height: 40px;
  margin-top: 10px;
  padding: 2px 0;
}

/* header > inner-header > more */

header .inner-header .more {
  flex: 1;
  font-weight: 700;
  font-size: 1.2em;
  align-self: stretch;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .inner-header .more a {
  font-size: 15px;
  margin-left: 5px;
  /* border: 1px solid yellow; */
  padding: 10px 15px;
  margin-right: 15px;
}

header .inner-header .more a:hover {
  background: #272525;
  border-radius: 10px;
}

/* ----------------------------------------------------------------------------------- */
/* inner header 제품생산 */
header .inner-header nav.gnb {
  /* background: violet; */
  /* margin-left: 80px; */
  width: 80%;
  margin: 0 30px 0 3px;
  /* padding-right: 10px; */
  font-size: 17px;
  font-weight: 350;
}

header .inner-header nav.gnb ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  
}


header .inner-header nav.gnb ul li {
  display: flex;
  margin-right: 50px;
  margin-left: 10px;
}

header .inner-header nav.gnb li a {
  display: block;
  /* border: 2px solid yellow; */
  justify-content: space-between;
  
  
}
header .inner-header nav.gnb li a:hover {
  border-bottom: 2px solid white;
  
}




/* 햄버거버튼 */

header .inner-header .gnb-mobile {
  display: none;
  margin-left: 20px;
  margin-top: 5px;
  margin-right: 20px;
}







/* footer style----------------------------------------------- */

footer {
  background: black;
  width: 100% auto;
}

footer .inner-footer {
  background: black;
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  
}

/* footer > .inner-footer > .subscribe ----------------------------------------------------------------*/

footer .inner-footer .subscribe {
  width: 100% auto;
  margin-top: 0px;
  /* padding-top: 20px; */
  font-size: 18px;
  font-weight: 600;
  display: flex;
  
  /* background: blue; */
  align-items: flex-start;
  
}

footer .inner-footer .subscribe .messenger {
  /* width: 40%; */
  /* background: chartreuse; */
  font-size: 10px;
  text-align: center;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  /* padding: 0 10px; */
  justify-content: flex-end;
  padding-right: 20px;
}

footer .inner-footer .subscribe .messenger a {
 font-size: 20px;
 padding: 0 8px;
 margin-left: 30px;
 /* align-items: stretch; */
 /* flex-grow: 1; */
 box-sizing: border-box;
 
}

footer .inner-footer .subscribe .gnb ul li a {
  margin-right: 10px;
  
}

footer .inner-footer .subscribe .gnb ul li a i {
  margin-left: 70px;
  
}


footer .inner-footer .subscribe .gnb {
  /* background: red; */
  border-bottom: 1px solid #fff;
  flex-wrap: wrap;
  
}
footer .inner-footer .subscribe ul { 
  /* display: block; */
  justify-content: flex-start;
  padding: 0;
  /* background: yellow; */
  /* padding-left: 10px; */
  display: flex;
  list-style: none;
}

/* footer > .messenger */

footer .messenger {
  /* background: pink; */
  width: 60px;
  font-size: 17px;
 margin-top: 0;

  
  /* border: 1px solid yellow; */
  padding: 14px 0px;
}

footer .messenger a{
  /* border: 1px solid yellow; */
  justify-content: end;
  
}

footer .messenger a:hover {
  background: #272525;
  border-radius: 10px;
}
/* footer 상단 end */

/* footer 하단 start--------------------------------------------- */

/* footer > .option */
footer .option {
  width: 80% auto;
  margin: 100px 40px 0 40px; 
  font-size: 15px;
  font-weight: 400;
  color: gray;
  background: black;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;

  
}

footer .inner-footer .option nav {
  padding-right: 15px;
  box-sizing: border-box;
  
}

footer .inner-footer .option p {
  width: 150px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  /* border: 1px solid red; */
  
}

footer .inner-footer .option li {
  padding-bottom: 5px;
  display: flex;
}

footer .inner-footer .option a:hover {
  color: white;
  text-decoration: underline;
}


/* footer > .inner-footer > nav.gnb-bottom----------------------------------------- */

footer .inner-footer nav.gnb-bottom {
  color: gray;
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  margin-top: 50px;
  
}

footer .inner-footer nav.gnb-bottom ul {
  display: flex;
  padding-bottom: 20px;
}

footer .inner-footer nav.gnb-bottom ul li {
  padding-right: 2px;
  display: flex;
  /* justify-content: center; */
  
}


footer .inner-footer nav.gnb-bottom ul a {
  flex-direction: row;
  
}

footer .inner-footer nav.gnb-bottom a:hover {
  color: white;
  text-decoration: underline;
  
}

/* footer > .inner-footer > li.company---------------------------- */


footer .inner-footer li.company {
  font-size: 13px;  
  
  color: gray;
  display: flex;
  justify-content: center;
}



/* ======================================================================== */

/* ========== 반응형 웹 디자인 ========== */
/* 노트북 해상도 1600px 미만 */
@media (max-width: 1599px) {
  header .inner-header .gnb-mobile {
    float: left;
    display: block;
    font-size: 25px;
    color: #fff;
    padding-top: 5px;
  }

  header .inner-header nav.gnb {
    display: none;
}

header .inner-header .logo img {
  height: 40px;
  margin-top: 10px;
  padding: 5px 0;
}

footer .inner-footer .subscribe .messenger {
  /* padding-right: 10px; */
  
  margin-right: -140px;
  margin-top: -10px;
}

footer .inner-footer .subscribe .messenger a {
  font-size: 20px;
  margin-left: 30px;
  margin-right: -5px;
  padding-bottom: 5px;
  text-align: center;
  padding: 5px 10px;
}





footer .inner-footer .subscribe .gnb ul {
  list-style: none;
}

footer .inner-footer .subscribe .gnb ul li a i {
  margin-left: 25px;
}

footer .inner-footer .subscribe {
  margin-top: -10px;
  width: 100%;
  margin-left: -5%;
  /* margin-left: 0;
  font-size: 17px; */
}

footer .inner-footer .subscribe .gnb {
  margin-left: -50px;
  margin-top: -10px;
  font-weight: 400;
  font-size: 17px;
}

footer .inner-footer .subscribe .gnb i {
  padding-left: 40px;
}

footer .inner-footer .option nav {
  padding-right: 30px;
  margin-top: -15px;
}
}

/* 태블릿 1024px 이하 해상도 (아이패드 프로) */
@media (max-width: 1024px) {
  
  footer .inner-footer .option nav {
    padding-right: 20px;
    margin-top: -15px;
  }

  footer .inner-footer .subscribe .gnb{
    margin-left: -120px;
    margin-top: -10px;
  }

  footer .inner-footer .subscribe .messenger {
    /* padding-right: 10px; */
    
    margin-right: -120px;
    margin-top: -10px;
  }

  footer .inner-footer .subscribe .messenger a {
    font-size: 20px;
    margin-right: -10px;
  }

  footer .inner-footer nav.gnb-bottom {
    margin-left: -50px;
    margin-right: -50px;
    
  }

  footer .inner-footer nav.gnb-bottom ul li{
    padding-right: 5px;
    font-size: 14px;
   
  }

  footer .inner-footer .option p {
    font-weight: 500;
    font-size: 17px;
  }
  
  footer .inner-footer .subscribe {
    font-size: 17px;
    font-weight: 500;
    display: block;
  }

}


/* 태블릿 768px 이하 해상도 (아이패드 미니) */
@media (max-width: 768px) {
  footer .inner-footer {
    width: 100%;
  }
  footer .inner-footer .subscribe .gnb {
    font-size: 17px;
    font-weight: 500;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
  }

  footer .inner-footer .subscribe .messenger {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    
  }

  footer .inner-footer .subscribe .messenger a {
    margin-right: -80px;
    margin-left: 90px;
  }

  footer .inner-footer .option {
    display: flex;
    flex-wrap: wrap;
    display: block;
    margin-left: -20px;

  }

  footer .inner-footer .option nav {
    margin-bottom: 40px;
  }

/* 밑에 해결 불가능..------------------------------------ */
  footer .inner-footer nav.gnb-bottom {
    
    display: flex;
    justify-content: center;
    height: 300px;
    border: 1px solid red;
    
    
  }

  footer .inner-footer nav.gnb-bottom li {
    justify-content: center;
    display: block;
    
  }
  
  




}




