@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('./common.css');

body {
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
  background: black;
}

/* header style -----------------------------------------------------------------*/
header {
  /* background: orange; */
  padding: 0 0 20px 0;
  /* position: fixed; */
  width: 100%;
  top: 0;
  /* z-index: 9999; */
}

header .inner-header {
  background: black;
  width: 95%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* header > inner-header > logo */

header .inner-header .logo {
  margin: 0 auto;
  /* border: 2px solid aqua; */
  flex: 1;
  
}

header .inner-header .logo img {
  height: 40px;
  margin-top: 10px;
  padding: 2px 0;
}

/* header > inner-header > more */

header .inner-header .more {
  flex: 1;
  font-weight: 700;
  font-size: 1.2em;
  align-self: stretch;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .inner-header .more a {
  font-size: 15px;
  margin-left: 5px;
  /* border: 1px solid yellow; */
  padding: 10px 15px;
  margin-right: 15px;
}

header .inner-header .more a:hover {
  background: #272525;
  border-radius: 10px;
}

/* ----------------------------------------------------------------------------------- */
/* inner header 제품생산 */
header .inner-header nav.gnb {
  /* background: violet; */
  /* margin-left: 80px; */
  width: 80%;
  margin: 0 30px 0 3px;
  /* padding-right: 10px; */
  font-size: 17px;
  font-weight: 350;
}

header .inner-header nav.gnb ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  
}


header .inner-header nav.gnb ul li {
  display: flex;
  margin-right: 50px;
  margin-left: 10px;
}

header .inner-header nav.gnb li a {
  display: block;
  /* border: 2px solid yellow; */
  justify-content: space-between;
  
  
}
header .inner-header nav.gnb li a:hover {
  border-bottom: 2px solid white;
  
}




/* 햄버거버튼 */

header .inner-header .gnb-mobile {
  display: none;
  margin-left: 20px;
  margin-top: 5px;
  margin-right: 20px;
}







/* footer style----------------------------------------------- */

footer {
  background: black;
  width: 100% auto;
}

footer .inner-footer {
  background: black;
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  
}

/* footer > .inner-footer > .subscribe ----------------------------------------------------------------*/

footer .inner-footer .subscribe {
  width: 100% auto;
  margin-top: 0px;
  /* padding-top: 20px; */
  font-size: 18px;
  font-weight: 600;
  display: flex;
  
  /* background: blue; */
  align-items: flex-start;
  
}

footer .inner-footer .subscribe .messenger {
  /* width: 40%; */
  /* background: chartreuse; */
  font-size: 10px;
  text-align: center;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  /* padding: 0 10px; */
  justify-content: flex-end;
  padding-right: 20px;
}

footer .inner-footer .subscribe .messenger a {
 font-size: 20px;
 padding: 0 8px;
 margin-left: 30px;
 /* align-items: stretch; */
 /* flex-grow: 1; */
 box-sizing: border-box;
 
}

footer .inner-footer .subscribe .gnb ul li a {
  margin-right: 10px;
  
}

footer .inner-footer .subscribe .gnb ul li a i {
  margin-left: 70px;
  
}


footer .inner-footer .subscribe .gnb {
  /* background: red; */
  border-bottom: 1px solid #fff;
  flex-wrap: wrap;
  
}
footer .inner-footer .subscribe ul { 
  /* display: block; */
  justify-content: flex-start;
  padding: 0;
  /* background: yellow; */
  /* padding-left: 10px; */
  display: flex;
  list-style: none;
}

/* footer > .messenger */

footer .messenger {
  /* background: pink; */
  width: 60px;
  font-size: 17px;
 margin-top: 0;

  
  /* border: 1px solid yellow; */
  padding: 14px 0px;
}

footer .messenger a{
  /* border: 1px solid yellow; */
  justify-content: end;
  
}

footer .messenger a:hover {
  background: #272525;
  border-radius: 10px;
}
/* footer 상단 end */

/* footer 하단 start--------------------------------------------- */

/* footer > .option */
footer .option {
  width: 80% auto;
  margin: 100px 40px 0 40px; 
  font-size: 15px;
  font-weight: 400;
  color: gray;
  background: black;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;

  
}

footer .inner-footer .option nav {
  padding-right: 15px;
  box-sizing: border-box;
  
}

footer .inner-footer .option p {
  width: 150px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  /* border: 1px solid red; */
  
}

footer .inner-footer .option li {
  padding-bottom: 5px;
  display: flex;
}

footer .inner-footer .option a:hover {
  color: white;
  text-decoration: underline;
}


/* footer > .inner-footer > nav.gnb-bottom----------------------------------------- */

footer .inner-footer nav.gnb-bottom {
  color: gray;
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  margin-top: 50px;
  
}

footer .inner-footer nav.gnb-bottom ul {
  display: flex;
  padding-bottom: 20px;
}

footer .inner-footer nav.gnb-bottom ul li {
  padding-right: 2px;
  display: flex;
  /* justify-content: center; */
  
}


footer .inner-footer nav.gnb-bottom ul a {
  flex-direction: row;
  
}

footer .inner-footer nav.gnb-bottom a:hover {
  color: white;
  text-decoration: underline;
  
}

/* footer > .inner-footer > li.company---------------------------- */


footer .inner-footer li.company {
  font-size: 13px;  
  
  color: gray;
  display: flex;
  justify-content: center;
}



/* ======================================================================== */

/* ========== 반응형 웹 디자인 ========== */
/* 노트북 해상도 1600px 미만 */
@media (max-width: 1599px) {
  header .inner-header .gnb-mobile {
    float: left;
    display: block;
    font-size: 25px;
    color: #fff;
    padding-top: 5px;
  }



header .inner-header .logo img {
  height: 40px;
  margin-top: 10px;
  padding: 5px 0;
}

footer .inner-footer .subscribe .messenger {
  /* padding-right: 10px; */
  
  margin-right: -140px;
  margin-top: -10px;
}

footer .inner-footer .subscribe .messenger a {
  font-size: 20px;
  margin-left: 30px;
  margin-right: -5px;
  padding-bottom: 5px;
  text-align: center;
  padding: 5px 10px;
}





footer .inner-footer .subscribe .gnb ul {
  list-style: none;
}

footer .inner-footer .subscribe .gnb ul li a i {
  margin-left: 25px;
}

footer .inner-footer .subscribe {
  margin-top: -10px;
  width: 100%;
  margin-left: -5%;
  /* margin-left: 0;
  font-size: 17px; */
}

footer .inner-footer .subscribe .gnb {
  margin-left: -50px;
  margin-top: -10px;
  font-weight: 400;
  font-size: 17px;
}

footer .inner-footer .subscribe .gnb i {
  padding-left: 40px;
}

footer .inner-footer .option nav {
  padding-right: 30px;
  margin-top: -15px;
}
}

/* 태블릿 1024px 이하 해상도 (아이패드 프로) */
@media (max-width: 1024px) {
  

  header .inner-header nav.gnb {
    display: none;
  }

  footer .inner-footer .option nav {
    padding-right: 20px;
    margin-top: -15px;
  }

  footer .inner-footer .subscribe .gnb{
    margin-left: -120px;
    margin-top: -10px;
  }

  footer .inner-footer .subscribe .messenger {
    /* padding-right: 10px; */
    
    margin-right: -120px;
    margin-top: -10px;
  }

  footer .inner-footer .subscribe .messenger a {
    font-size: 20px;
    margin-right: -10px;
  }

  footer .inner-footer nav.gnb-bottom {
    margin-left: -50px;
    margin-right: -50px;
    
  }

  footer .inner-footer nav.gnb-bottom ul li{
    padding-right: 5px;
    font-size: 14px;
   
  }

  footer .inner-footer .option p {
    font-weight: 500;
    font-size: 17px;
  }
  
  footer .inner-footer .subscribe {
    font-size: 17px;
    font-weight: 500;
    display: block;
  }

}


/* 태블릿 768px 이하 해상도 (아이패드 미니) */
@media (max-width: 768px) {
  footer .inner-footer {
    width: 100%;
  }
  footer .inner-footer .subscribe .gnb {
    font-size: 17px;
    font-weight: 500;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
  }

  footer .inner-footer .subscribe .messenger {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    
  }

  footer .inner-footer .subscribe .messenger a {
    margin-right: -80px;
    margin-left: 90px;
  }

  footer .inner-footer .option {
    display: flex;
    flex-wrap: wrap;
    display: block;
    margin-left: -20px;

  }

  footer .inner-footer .option nav {
    margin-bottom: 40px;
  }

/* 밑에 해결 불가능..------------------------------------ */
  footer .inner-footer nav.gnb-bottom {
    
    display: flex;
    justify-content: center;
    /* height: 300px; */
    /* border: 1px solid red; */
    
    
  }

  footer .inner-footer nav.gnb-bottom li {
    justify-content: center;
    display: block;
    
  }
  
  




}

body {
  background: #000;
}

section li {
  list-style-type: none;
}

section>h2 {
  font: bold 30px / 1.2em sans-serif ;
  margin: 30px 0;
}

/* =============== section.main =============== */

section.main {
  background: #000 url("../img main/main1-three-people.jpg") no-repeat top / 100vw scroll;
  
  height: 700px;
  position: relative;

}

section.main:hover {
  cursor: grab;
}

section.model:hover {
  cursor: pointer;
}

/* section.main .background {

  height: 100vh;
  overflow: hidden;
  position: absolute;

}

section.main .background img {

  width: 100%;
} */

section.main .others {
  /* 배너 모음 */
  width: 60%;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-20%, -50%);

  font-size: 18px;
  color: #fff;

}



section.main .others .txt h2 {
  font: bold 40px / 1.4em sans-serif;
  margin: 20px 0;
  
}

section.main .others .txt p {
  font-size: 20px;
  line-height: 130%;
  font-weight: 300;
}

section.main .others .logo {
  /* 로고 이미지 */

  margin: 20px 0 10px;
  display: flex;
  align-items: center;


  /* 영역 확인하기 */
  /* border: 1px solid yellow; */

}

section.main .others .logo li {
  margin-right: 50px;
  margin-left: -40px;
}
section.main .others .logo li:first-child img { /* AMD 이미지 */
  width: 140px;
}

section.main .others h3 {
  margin-bottom: 20px;
  font: bold 23px / 1.4em sans-serif;
}

section.main .others .more { /* 자세히 알아보기 */
  width: 180px;
  height: 60px;
  border: 0.5px outset #4e4d4d;
  background:linear-gradient(to right,#1f1e1e, #535252);

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}

section.main .others .more:hover {
  opacity: 0.8;
}

section.main .others .more a {
  font-size: 16px;
  font-weight: 700;
}

section.main ul.models { /* AI 개발자 콘테스트 */
  margin: 0 auto;
  padding-top: 660px;

  width: 90%;
    /* 영역 확인하기
  border: 1px solid yellow; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #fff;

}



section.main ul.models li {
  border-top: 2px solid #fff;
  width: 23.75%;
  margin-left: 1%;

  transition: 0.5s;
  opacity: 0.5;
}

section.main ul.models li:first-child { /* 게이지 바 효과 있으면 좋음 (자바 스크립트) */
  /* width: 100%; */
  /* border: 1px solid #fff; */
  opacity: 1;
  transition: 5s;
  overflow: hidden;
  animation: fillFromLeft 5s ease-in-out;

}

section.main ul.models li:first-child::before {
  content: '';
  width: 100%;
  /* animation: borderAnimation 2s infinite alternate; */
}



section.main ul.models li:hover {
  cursor: pointer;
  opacity: 1;
}

section.main ul.models li:last-child {
  margin-right: 1%;
}


section.main ul.models li span {
  line-height: 3em;
}



section.main button.play { /* 재생 버튼 */
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #000;

  

  position: absolute;
  left: 95%;
  top: 70%;
  transform: translate(-95%, -70%);
}

section.main button.play:hover {
  cursor: pointer;
}

section.main button.play i {
  color: #fff;

}


/* =============== section.products =============== */
section.products {
  margin: 100px auto;
  color: #fff;
  width: 90%;
}

section.products h2 {
  margin-left: 40px;
}



section.products ul.lists { /* 주요 제품 이미지, (창 width가 줄어들수록 이미지도 줄어듦 구현 필요)*/
  display: flex;
  justify-content: space-evenly;
}

section.products ul.lists li {
  width: 32%;
  /* border: 4px solid orange; */
  height: 500px;
  overflow: hidden;
  object-fit: cover;

  position: relative;

}

section.products ul.lists li img {
  height: 250px;
  position: absolute;

  left: 50%;
  transform: translate(-50%, 0);

}

section.products ul.lists li .text {
  position: absolute;
  width: 95%;
  font-weight: 900;
  /* border: 4px solid skyblue; */
  left: 50%;
  top: 85%;
  transform: translate(-50%, -85%);

  
}

section.products ul.lists li .text h3 {
  font-size: 20px;
  margin: 20px 0;
  
}





section.products ul.lists li .text p {
  font: 16px / 1.4em sans-serif;
  color: rgb(69, 143, 255);
}

section.products ul.lists li:nth-child(2) .text p {
  color: #fff;
  margin: 20px 0;
}

section.products ul.lists li:nth-child(2n+1) .text p:hover {
  text-decoration: underline;
  /* cursor: grab; */
  cursor: pointer;

}

section.products ul.lists li .text .search {
  margin-top: 30px;
  height: 60px;
  width: 180px;
  border: 2px solid #fff;
  text-align: center;
  line-height: 60px;
  font-weight: 700;
}

section.products ul.lists li .text .search:hover {
  color: #000;
  background: #fff;
  cursor: pointer;
}

/* =============== section.recommendation =============== */
section.recommendation {
  color: #fff;
  background: #0000009d;
}

section.recommendation h2 {
  margin-left: 7.5%;
  font: bold 30px / 1.2em sans-serif ;
}


section.recommendation ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid yellow; */
  
}

section.recommendation ul li .arrow {
  font-size: 20px;
  font-weight: 900;
}


section.recommendation ul li:nth-child(2n+1) { /* 화살표 버튼 */
  width: 3%;
  margin: auto;

}


section.recommendation ul li .arrow {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 30px;
  height: 80px;
  background: #181717;
  /* border: 1px solid yellow; */
  border-radius: 10%;
}

section.recommendation ul li .arrow:hover {
  cursor: pointer;
  background: #363535;
}

section.recommendation ul li .arrow span {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100px;
}

section.recommendation ul li:first-child span {
  transform: rotate(180deg);
}

section.recommendation ul li:nth-child(2) {
  width: 85%;
  /* border: 1px solid yellow; */
}


section.recommendation li .backimg {
  background-image: url("../img main/main3-solution-ingongjineung.jpg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: 55% 20%;

  

  margin: 20px auto;
  padding: 10px 0;
  height: 420px;
  /* border: 1px solid yellow; */

  position: relative;

}

section.recommendation li .backimg .sentence {
  position: absolute;
  top: 15%;
  left: 5%;
  transform: translate(-5%, 15%);

  /* border: 1px solid yellow; */

  font: 16px / 2em sans-serif;

}


section.recommendation li .backimg .sentence h3 {
  font: 25px / 1.6em sans-serif;
  
}

section.recommendation li .backimg .sentence h3:hover,
section.recommendation li .backimg .sentence a:hover {
  text-decoration: underline;
  cursor: pointer;
}


section.recommendation ul.solutions { /* 인공지능 */
  margin: 0 auto;


  width: 85%;

/*  border: 1px solid yellow; */

  display: flex;
  justify-content: space-between;
  align-content: stretch;

  color: #fff;


}

section.recommendation ul.solutions li {
  border-top: 2px solid #fff;
  width: 15.5%;
  margin-left: 1%;
  line-height: 1.2em;

  transition: 0.5s;
  opacity: 0.5;

  /* border: 1px dashed yellow; */
}

section.recommendation ul.solutions li:first-child {
  opacity: 1;
}

section.recommendation ul.solutions li:hover {
  cursor: pointer;
  opacity: 1;
}

section.recommendation ul.solutions li:last-child {
  margin-right: 1%;
}


section.recommendation ul.solutions li span {
  line-height: 3em;
}

/* =============== section.cooperation =============== */
section.cooperation {
  margin: 250px 0 50px;
  width: 100%;
  height: 700px;
  padding: 220px 0;
  background: url('../img main/main4-hhub-ruk.jpg') no-repeat center/cover fixed;
}

section.cooperation .inner {
  width: 43%;
  /* border: 4px solid #fff; */
  margin: 0 auto;
  font-size: 17px;
  text-align: center;
  line-height: 1.4;
  color: #fff;
}

section.cooperation .inner h2 {
  font-size: 50px;
  margin: 20px 0;
  font-weight: 400;
}



section.cooperation .inner h2 span {  /* 깜빡이기 */ 
  animation: blinker 1s ease infinite alternate;
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}


section.cooperation .inner .more {
  /* border: 1px solid #fff; */
  width: 180px;
  height: 55px;
  margin: 40px auto;

  background: linear-gradient(to right, rgba(59, 59, 59, 0.4), rgba(197, 193, 193, 0.4));
  border: 0.5px outset #fff #000;
  font-size: 16px;

}

section.cooperation .inner .more:hover {
  cursor: pointer;
  background: linear-gradient(to right, rgba(26, 25, 25, 0.5), rgba(122, 121, 121, 0.5));
}


section.cooperation .inner .more a {
  text-align: center;
  line-height: 55px;
  font-weight: 700;
  opacity: 100%;
}

/* =============== section.research =============== */
section.research {
  width: 80%;
  margin: 50px auto;
  /* border: 1px solid yellow; */
  color: #fff;

  position: relative;
  /* border: 1px solid #fff; */
}

section.research>h3 {
  width: 100px;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-100%, 0);
  /* border: 1px solid #fff; */

  font-weight: 500;
  font-size: 17px;
}

section.research>h3>i{
  margin-left: 15px;
}

section.research>h3:hover {
  text-decoration: underline;
  cursor: pointer;
}


section.research ul.example {
  display: flex;
  flex-wrap: wrap;


}

section.research ul.example li {
  overflow: hidden;
  height: 250px;
  margin-bottom: 30px;
}

section.research ul.example li img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

section.research ul.example li:first-child {
  width: 38%;
  margin-right: 2%;

  /* border: 1px dashed yellowgreen; */


}


section.research ul.example li:nth-child(2) {
  width: 58%;
  margin-left: 2%;
  /* border: 1px dashed yellowgreen; */
  
}

section.research ul.example li:nth-child(3) {
  width: 58%;
  margin-right: 2%;
  /* border: 1px dashed yellowgreen; */
}

section.research ul.example li:last-child {
  width: 38%;
  margin-left: 2%;
  /* border: 1px dashed yellowgreen; */
}

section.research ul.example li .text {
  width: 300px;
  /* border: 1px dotted aqua; */
  top: 130%;
  left: 10%;
  transform: translate(10%, -130%);
}

section.research ul.example li .text h3 {
  font: bold 24px / 1.4em sans-serif;
  margin-bottom: 15px;
}

section.research ul.example li .text .more {
  width: 180px; 
  height: 55px;
  margin-top: 30px;
  border: 1.5px solid #fff;
  font-weight: 700;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

section.research ul.example li .text .more:hover {
  cursor: pointer;
  background: #fff;
  color: #000;
}

section.research ul.example li .text .more a {
  line-height: 55px;
  font-weight: 500;
}

section.research ul.example li .text .more span {
  margin-left: 10px;
}

/* =============== section.news =============== */
.newscontain { /* 배경 색깔*/
  width: 100%;
  padding-bottom: 15px;

  background: linear-gradient(#000, #242323);
  /* border: 1px solid yellowgreen; */
}
section.news {
  width: 80%;
  /* height: 700px; */
  color: #fff;
  margin: 150px auto;

  /* border: 2px dashed #fff; */
  position: relative;
}

section.news>h3 { /* 뉴스룸 */
  width: 100px;
  position: absolute;
  top: -6%;
  left: 100%;
  transform: translate(-70%, 0);
  /* border: 1px solid #fff; */

  font-weight: 500;
  font-size: 17px;
}

section.news>h3>i{
  margin-left: 15px;
}

section.news>h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

section.news ul.amdnews {
  display: flex;
  align-items: space-between;
  justify-content: center;

}

section.news ul.amdnews li {
  width: 23.5%;
}

section.news ul.amdnews li:first-child,
section.news ul.amdnews li:nth-child(2),
section.news ul.amdnews li:nth-child(3) {
  margin-right: 2%;
}

section.news ul.amdnews li .imgbox {
  overflow: hidden;
  height: 200px;
}

section.news ul.amdnews li .imgbox img {
  height: 200px;
  width: 100%;
  object-fit: cover;

  transition: 0.6s;
}


section.news ul.amdnews li {
  background-color: #272727c4;
  border: 1px solid #272727c4;
  width: 100%;
  height: 400px;
  border-radius: 3%;
  overflow: hidden;
}

section.news ul.amdnews li .text {
  padding: 15px;
}

section.news ul.amdnews li .text p {
  font: bold 16px / 1.4em sans-serif;
  margin-bottom: 35px;
}

section.news ul.amdnews li .text span {
  color: #8a8888;
  font-size: 14px;
}

section.news ul.amdnews li:hover p {
  text-decoration: underline;
}

section.news ul.amdnews li:hover {
  cursor: pointer;
}

section.news ul.amdnews li:hover .imgbox img {
  transform: scale(1.2);
  height: 250px;
}


/* ============================= =========== ============================= */
/* ============================= Media Query ============================= */
/* ============================= =========== ============================= */

@media (max-width: 1700px) {
  .wrap {
    width: 100%;
    /* border: 1px solid aqua; */
  }
  .wrap section.products,
  .wrap section.research,
  .wrap section.news
   {
    width: 90%;
    /* border: 1px solid yellow; */
  }
}


@media (max-width: 991px) {

  section.recommendation ul.solutions li span{
    display: none;
  }

  section.research {
    width: 95%;
    /* border: 2px dashed red; */
  }

  section.research ul.example {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;

  }

  section.research ul.example li {
    overflow: hidden;
    /* border: 2px dashed blue; */
    width: 100%;
    
  }

  section.research ul.example li:first-child,
  section.research ul.example li:nth-child(2),
  section.research ul.example li:nth-child(3),
  section.research ul.example li:last-child {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  section.research ul.example li img {
    width: 100%;
    object-fit: cover;
  }

  section.research ul.example li .text h3 {
    font-size: 20px;
  }



  section.news {
    width: 95%;

  }
  

  section.news ul.amdnews {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
  
  }

  section.news ul.amdnews li {
    width: 46%;
    margin-bottom: 60px;
  }

  section.news ul.amdnews li .imgbox {
    height: 260px;
  }

  section.news ul.amdnews li .imgbox img {
    height: 260px;
  }

  section.news ul.amdnews li:nth-child(2n+1) {
    margin-right: 2%;
  }
  section.news ul.amdnews li:nth-child(2n) {
    margin-left: 2%;
  }

  section.news ul.amdnews li .text {
    height: 300px;
  }
}






