/* reset css */
@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');

* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

body {
  background: #000;  
}

.container {
  width: 100%;
  font-family: Arial, sans-serif;
  color: #fff;
}

/* sub-container style */
.sub-container {
  background: url(../imgback/p1-amd\ advantage\ copy.jpg) no-repeat center/cover;
  width: 100%;
  height: 670px;
}

.sub-container .breadcrumb {
  display: flex;
  margin: 0 auto;
  width: 85%;
  height: 100%;
  padding: 0 90px 26px;
  flex-direction: column;
}

.sub-container .breadcrumb .wrap {
  display: flex;
  font-size: 12px;
  opacity: 0.6;
  font-family: sans-serif;
  padding: 16px 0;
  flex-grow: 0.1;
}

.sub-container .breadcrumb .wrap ol {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sub-container .breadcrumb .wrap ol a {
  font-size: 0.9em;
  padding: 5px;
}

.sub-container .breadcrumb .wrap ol li span {
  font-size: 0.8em;
}

.sub-container .center {
  padding: 16px 0 0 90px;
  flex-grow: 20;
  display: flex;
  align-items: center;
}

.sub-container .center .row {
  height: 33.33%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;  
  width: 50%;
}

.sub-container .center .row .row-wrap p:first-child {
margin-bottom: 10px;
padding-bottom: 16px;
font-size: 14px;
}

.sub-container .center .row .row-wrap h1 {
  font-size: 41.6px;
  margin: 0 0 16px;
}

.sub-container .center .row .row-wrap .sub {
  margin-bottom: 26px;
  padding-bottom: 16px;
  font-size: 20.32px;
}

/* nav.bar style */

.container .nav-wrap .nav-bar {
  background: linear-gradient(90deg, rgb(10, 10, 10) 20%, rgb(27, 27, 27) 50%, rgb(10, 10, 10) 80%);
  border-bottom: 1px solid rgb(49, 49, 49);
  width: 100%;
  height: 58px;
  position: sticky;
  top: 0;
}

.container .nav-bar .box{
  height: 100%;
  width: 300px;
  margin: 0 auto;
}

.container .nav-bar .box .ul-wrap {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.container .nav-bar .ul-wrap ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.container .nav-bar .ul-wrap ul:hover {
  border-bottom: 2px solid #fff;
}

/* summary style */

.summary {
  margin: 0 auto;
  display: flex;
  width: 90%;
  padding: 70px 90px;
  height: 670px;
  background: #000;
  justify-content: center;
}

.summary .contents {
  display: flex;
  width: 44%;
  padding: 0 1%;
  margin-top: 40px;
  text-align: left;
  flex-flow: column wrap;
  justify-content: center;
}

.summary .contents h2 {
  font-size: 1.6em;
  margin-bottom: 16px;
}

.summary .contents p {
  line-height: 1.5;
  margin-bottom: 26px;
}

.summary .contents p .font {
  line-height: 1.5;
  }

.summary .img-area {
  width: 52%;
  background: url(../imgback/p2-choi-juck.png) no-repeat center/cover;
  padding: 0 1%;
  margin-top: 40px;

  font-size: 20px;
  position: relative;
}

.summary .img-area .pause {  
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 15px;
  
  position: absolute;
  bottom: 20px;
  right: 30px;
}

/* function styl */
.function {
  margin: 0 auto;
  width: 100%;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.function .inner-space {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.function .inner-space h2 {
  font-size: 29px;
  font-weight: bold;
  text-align: center;
  line-height: 2;
}

.function .inner-space .f-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.function .inner-space .f-list .images {
  width: 30%;
}

.function .inner-space .f-list .images  img {
  width: 100%;
  height: 100%;
  padding-bottom: 26px;
}

.function .inner-space .f-list .images h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 16px;
}

.function .inner-space .f-list .images p {
  line-height: 1.4;
}

.function .inner-space .f-list .images p sup {
  font-size: 0.8em;
  vertical-align: super;
}

.function .inner-space .f-list .images p a {
  color: rgb(0, 132, 255);
}

.function .inner-space .f-list .images p a:hover {
  text-decoration: underline;
}

.function .inner-space .divider {
  width: 100%;
  height: 50px;
}

.function .inner-space .ex-wrap {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.function .inner-space .ex-wrap .ex {
  text-align: justify;
  width: 63%;
}

.function .inner-space .ex-wrap .ex h3 {
  font-size: 1.55em;
  font-weight: bold;
  margin-bottom: 20px;
}

.function .inner-space .ex-wrap .ex h3 sup {  
  font-size: 0.8em;
  vertical-align: super;
}

.function .inner-space .ex-wrap .ex p {
  line-height: 1.5;
}

.function .inner-space .test-result {
  margin: 0 auto;
  width: 97%;
  display: flex;
  justify-content: space-evenly;
}

.function .inner-space .test-result div {
  width: 23%;
}

.function .inner-space .test-result img {
  width: 100%;
}

/* spec style */

.spec {
  margin: 0 auto;
  width: 100%;
}

.spec .spec-container  {
  margin: 0 auto;
  padding: 90px;
  width: 100%;
}

.spec .spec-container .spec-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spec .spec-container .spec-wrap .img-wrap {
  width: 20%;
  display: flex;
  justify-content: right;
}

.spec .spec-container .spec-wrap .img-wrap img {
  width: 100%;
  padding: 0 20px;
}

.spec .spec-container .spec-wrap .spec-table {
  width: 60%;
  margin: 0 10px 10px;
  box-sizing: border-box;
}

.spec .spec-container .spec-wrap .spec-table h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 20px;
}

.spec .spec-container .spec-wrap .spec-table table {
  width: 100%;
  border: 0.1px solid #000;
  border-collapse: collapse;
}

.spec .spec-container .spec-wrap .spec-table .light {
  border: 0.1px solid #000;
  background: rgb(41, 44, 51);  
  display: flex;
  align-items: center;
}

.spec .spec-container .spec-wrap .spec-table .basic {
  border-right: 0.1px solid #000;
  border-left: 0.1px solid #000;
  background: rgb(26, 27, 32);
  display: flex;
  align-items: center;
}

.spec .spec-container .spec-wrap .spec-table tr {
  width: 90%;
}

.spec .spec-container .spec-wrap .spec-table tr td {
  padding: 8px 4px;
} 

.spec .spec-container .spec-wrap .spec-table tr .short {
  width: 10%;
  border-right: 0.1px solid #000;
}

.spec .spec-container .spec-wrap .spec-table tr td sup {
  font-size: 0.8em;
  vertical-align: super;
}
/* shoping style */

.shoping {
  padding: 90px;
}

.shoping .shoping-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 16px;
}

.shoping .products {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
}


.shoping .products section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 18%;
  border-radius: 5px;
  background: #1a1a1a;
  margin-bottom: 50px;
  margin-right: 2%;
}

.shoping .products section h2 {
  display: flex;
  padding: 15px;
  font-weight: bold;
  width: fit-content;
}

.shoping .products section h2:hover {
  text-decoration: underline;
}

.shoping .products section p {
  padding-bottom: 15px;
  padding-left: 15px;
}

.shoping .products section a {
  padding-bottom: 30px;
  padding-left: 15px;
  font-size: 0.9em;
  color: rgb(0, 132, 255);
}

.shoping .products section a:hover {
  text-decoration: underline;
}

.shoping .products section div {
  width: 100%;
}

.shoping .products section div img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* footnote style */
.footnote {
  width: 100%;
}

.footnote span {  
  padding: 20px 11%;
  background: #1a1a1a;
  display: flex;
  align-items: center;
}

.footnote span h3:hover {
  text-decoration: underline;
}

.footnote i {
  position: relative;
  left: 20px;
}

.read-container {
  width: 100%;
  padding: 30px 0 60px;
  background: #252529;  
  display: flex;
  justify-content: center;
}

.read-container .read {  
  width: 74%;
}

.read-container .read ul {
  text-align: start;
  line-height: 1.5;
}

.read-container .read ul li a {
  color: rgb(0, 132, 255);
}

.read-container .read ul li a:hover {
  text-decoration: underline;
}